i { 
  font-style: italic;
}

.app {
  max-width: 900px;
  margin: 0 auto;
}

.result {
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 0.5em;
}

.result:not(:last-child) {
  borderBottom: none;
}

.result__title {
  font-size: 18px;
  margin-bottom:0.5em;
}

.result__tags {
  margin-bottom: 0.5em;
}

.result__tag {
  background: lightgray;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
}

.result__info {
  margin-bottom: 0.25em;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.results-header input {
  margin: 0 5px;
}

.search-bar {
  display: flex;
  margin: 1em 0;
}